/* Divine CSS Styles */
body {display:flex;flex-direction:column;overflow-x:hidden;}
body > * {margin:auto;}

header {width:100%;height:7vh;text-align:left;z-index:5;box-shadow:2px 2px 8px #222;}
header h1 {margin:0;position:relative;top:2vh;left:10px;}
header nav {float:right;position:relative;top:-2vh;}
header nav a {opacity:0.5;transition:opacity 1s;color:white;overflow:hidden;display:inline-block;height:27px;}
header nav a i {background-color:purple;border-radius:10px;position:relative;top:-2px;}
header nav a:hover {opacity:1;}
header nav img {position: relative;border-radius:5px;filter: hue-rotate(90deg);margin-left:1px;margin-right:2vh;}

main {box-shadow:0px 4px 20px #222;min-height:110vh;}
@media screen and (max-width: 1400px) {main {overflow:hidden;width:100%;}}
main section {padding:1vh 11%;}
main section:last-child {margin-bottom: 0px;padding:-10px 11%;overflow:hidden;position: relative;top:20px;padding-bottom:20px;}

body {font-family:'Open Sans', sans-serif;background:#ddd;background-image:url('https://raw.githubusercontent.com/LuckyMonkey/proulxlaw/master/regal.png')}
main {background:#fff;}
main section {font-family:'Open Sans';font-weight:300;}
    
h1 {font-family:'comfortaa', cursive;color:#222;font-size:3vh;}
h2, h3, h4, h5, h6 {margin:0 0 0.3em 0;}
h1, h3, h5 {font-weight:normal;}
h2 {font-size:2.5em;}
h3 {font-size:1.5em;}
h4 {font-size:1.2em;}
h5 {font-size:1.2em;}
h6 {font-size:1em;}
p {font-size:1em;}
/* i:after {content:'_';visibility:hidden;} */
a {text-decoration:none;}
sup {position:relative;top:0.1em;left:0.1em;}
.hide {display:none;}
@media screen and (max-width: 1085px) {.mobileHide {display:none;}}

/* Page Sections and Element layout */
#intro {display:flex;flex-direction:row-reverse;align-items:center;padding:4vw 8vw;min-height:46vh}
#individuals {padding:4vw 8vw;min-height:30vh;text-align:center;}
#welcome {flex:1 1 auto;padding:30px;}
#proulx {flex:2 0 auto;padding-left:5vh;padding:0 2em;}
#associations {display:flex;flex-direction:row;}
    #associations div {flex:1 1 auto;}
    #associations p {margin-top:0;}
#description {margin:6vh auto;}

#steps {display:flex;flex-direction:row;}

#steps div {
    padding:2vh 2vw;
    width:33%;
    box-shadow:1px 1px 6px #333;
    margin:2vw;
    background-color:#fff;
}
#steps  {text-align:center;}
#steps a:link {font-weight:bold;}
#form {
    padding:2vh 2vw;
    box-shadow:1px 1px 6px #333;
    margin:0 13vw;
    background-color:#fff;
}
#buttons {display:flex;justify-content:center;min-height:15vh;margin:2vh 0;}
    #buttons i {position:relative;left:1vw;flex:0 1 center;margin:auto;}
    #buttons div {display:block;align-self:center;padding:0 5vw;text-align:center;}
#footer {display:flex;flex-direction:row;margin:2vh 0; }
#footer ul {margin:4vw auto;}
#footer ul:first-child {margin:4vw 0;}
/* Mobile Devices */
@media screen and (max-width: 1085px) {
    #intro {flex-direction:column;padding:1vw;}
    #proulx div {padding:0 20px 20px;float:left;} 
    #associations, #footer {flex-direction:column;}
    #associations, #footer ul {margin:0 2vh;}
}

.hibiscus {background-color:plum;background-image:linear-gradient(to bottom right, lavender 0%, plum 100%);}
#welcome {font-family:'Tahoma';font-size:1em;text-align:center;}
    #welcome a:link, 
    #welcome a:visited {text-decoration:none;display:block;color:#FFF;font-size:1em;border:2px solid white;padding:30px 10px;transition:color 0.3s, background 0.3s;}
#welcome a:hover {background:white;color:#222;text-shadow:none;}

#intro, #individuals {box-shadow:0px 50px 100px 200px rgba(0, 0, 0, 0.2) inset;text-shadow:2px 2px 2px #222;background:url('https://raw.githubusercontent.com/LuckyMonkey/proulxlaw/master/20170624_121720.jpg');background-size:cover;background-position:center;color:white;}
#individuals {background-image:url('rainbow.jpg');background-position:cen;font-size:2vw}

#proulx {font-size:3vw;}
@media screen and (min-width: 1085px) {#proulx {font-size:1.6em;} }
#footer {box-shadow:0px 2px 5px #aaa inset;}
#footer ul:first-child {margin-left:2vw}
#footer ul li {padding-left:0px;}
    #buttons i {font-size:6vw;color:#ddd;margin-bottom:0.2em; text-shadow:1px 1px 4px #222;}

